body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
  margin-top: 4rem;
}

h2 {
  font-size: 1.2rem;
  margin: 1rem 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0.5rem;
}

hr {
  margin: 2rem 0;
}
